<!-- Secciones Menu -->
<div class="navbar-nav">
  <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
       [autoClose]="true">

    <a id="navdrop" dropdownToggle role="button"
       class="nav-link dropdown-toggle"
       aria-controls="dropdown-basic">Presentaciones</a>

    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/view/layout/view-inbound/">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Entrantes
        </a>
      </li>

      <!-- MENU ITEM-->
      <li role="menuitem">
        <a class="dropdown-item " routerLink="/view/layout/view-outbound/">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Salientes
        </a>
      </li>

    </ul>
  </div>



  <!-- /********************************************** -->

  <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
       [autoClose]="true">

    <a id="navdrop" dropdownToggle role="button"
       class="nav-link dropdown-toggle" aria-controls="dropdown-basic">Monitor
      de colas</a>

    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">


      <li role="menuitem">
        <a class="dropdown-item " routerLink="/view/layout/view-monitor/calls">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Monitor-Llamadas
        </a>
      </li>


      <li role="menuitem">
        <a class="dropdown-item "
           routerLink="/view/layout/view-monitor/indicators">
          <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Monitor-Indicadores
        </a>
      </li>

    </ul>
  </div>
</div>