<!-- Secciones Menu -->
<div class="navbar-nav">
  <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
       [autoClose]="true">

    <!-- /********************************************** -->

    <div class="nav-item dropdown" dropdown #dropdown="bs-dropdown"
         [autoClose]="true">

      <a id="navdrop" dropdownToggle role="button"
         class="nav-link dropdown-toggle" aria-controls="dropdown-basic">Monitor
        de colas</a>

      <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-triggers-manual">


        <li role="menuitem">
          <a class="dropdown-item "
             routerLink="/layout/view-monitor/indicators">
            <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Indicadores tiempo
            real
          </a>
        </li>

        <li role="menuitem">
          <a class="dropdown-item "
             routerLink="/layout/view-monitor/indicators-historic">
            <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Indicadores histórico
          </a>
        </li>

         <li role="menuitem">
          <a class="dropdown-item "
             routerLink="/layout/view-monitor/indicators-summary">
            <fa-icon [icon]="faIdBadge"></fa-icon> &nbsp; Indicadores por intervalo
          </a>
        </li> 

      </ul>
    </div>
  </div>