<!----------ALERT MESSAGE------------------------- -->
<div>
    <app-alert [alertMessage]="alertMessage"></app-alert>
  </div>
  
  
  <!----------REPORT HEADER------------------------- -->
  <div *ngIf="userSelection">
  <app-display-display-header [userSelection]="userSelection"
                                  [selectorVisibleFields]="selectorVisibleFields"
                                  [timerConnected]="timerConnected"
                                  (returnResult)="onReturnHeaderResult($event)">
  </app-display-display-header>
  </div> 
  <!----------CLOCK SPACE------------------------- -->
  <section class="main-button">
    <div>
  
    </div>
    <div class="clock ml-auto">
        <a>{{update_date }} </a>
        <a>
        <fa-icon [icon]="faClock"></fa-icon> &nbsp; {{timerConnected}}
      </a>
    </div>
  </section>
  
  <section class="main-button" *ngIf="!show">
    <div>
      <h1>Obteniendo datos del servidor...</h1>
    </div>
  
  </section>


<!-- DATATABE---------------------------- -->
<section class="report" *ngIf="rows && show">
    <div>
      <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'"
                     [headerHeight]="110"
                     [footerHeight]="50" [rowHeight]="40" [scrollbarH]="true"
                     [scrollbarV]="false" [summaryRow]="true" [summaryHeight]="50"
                     [selectionType]="'single'"
                     [loadingIndicator]="'Contactando servidor'"
                     [messages]="{ emptyMessage: 'Sin datos que mostrar' }"
                     (select)="onSelect($event)"
                     data-toggle="modal" role="button" href="#content">


<!-- FIELDS ----------------------------------- -->

      <!------------------------------------------------- -->
      <!-- queueName------------------------------------- -->
      <ngx-datatable-column prop="queueName" width="160" name="queueName"
                            [summaryTemplate]="queueName" [frozenLeft]="true">

        <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
                     ngx-datatable-header-template>
          <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Nombre Cola
          </p>
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="table-column">
            <p class="right-black-normal">{{ value }}</p>
          </div>
        </ng-template>

        <ng-template #queueName>
          <p class="right-black-bold">{{rows_total[0].queueName}}</p>
        </ng-template>

      </ngx-datatable-column>

      <!------------------------------------------------- -->
       <!-- queueNumber------------------------------------- -->
       <ngx-datatable-column prop="queueNumber" width="80" name="queueNumber"
       [summaryTemplate]="queueNumber">

        <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
        ngx-datatable-header-template>
        <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
        Número<br> cola
        </p>
        </ng-template>

        <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="table-column">
        <p class="right-black-normal">{{ value }}</p>
        </div>
        </ng-template>

        <ng-template #queueNumber>
        <p class="right-black-bold">{{rows_total[0].queueNumber}}</p>
        </ng-template>

        </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- maxWaitTime------------------------------------- -->
    <ngx-datatable-column prop="maxWaitTime" width="80" name="maxWaitTime"
    [summaryTemplate]="maxWaitTime">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
    T. Máx.<br> Actual<br> espera<br> (sg)
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #maxWaitTime>
    <p class="right-black-bold">{{rows_total[0].maxWaitTime}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- maxWaitTimeAnswer------------------------------------- -->
    <ngx-datatable-column prop="maxWaitTimeAnswer" width="80" name="maxWaitTimeAnswer"
    [summaryTemplate]="maxWaitTimeAnswer">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            T. Máx.<br> Actual<br> contestar<br> (sg)
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #maxWaitTimeAnswer>
    <p class="right-black-bold">{{rows_total[0].maxWaitTimeAnswer}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- maxWaitTimeAbandon------------------------------------- -->
    <ngx-datatable-column prop="maxWaitTimeAbandon" width="80" name="maxWaitTimeAbandon"
    [summaryTemplate]="maxWaitTimeAbandon">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            T. Máx.<br> Actual<br> abandono<br> (sg)
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #maxWaitTimeAbandon>
    <p class="right-black-bold">{{rows_total[0].maxWaitTimeAbandon}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundReceived------------------------------------- -->
    <ngx-datatable-column prop="inboundReceived" width="80" name="inboundReceived"
    [summaryTemplate]="inboundReceived">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Llamadas<br> recibidas
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #inboundReceived>
    <p class="right-black-bold">{{rows_total[0].inboundReceived}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundAttended------------------------------------- -->
    <ngx-datatable-column prop="inboundAttended" width="80" name="inboundAttended"
    [summaryTemplate]="inboundAttended">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Llamadas<br> atendidas
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #inboundAttended>
    <p class="right-black-bold">{{rows_total[0].inboundAttended}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundAbandoned------------------------------------- -->
    <ngx-datatable-column prop="inboundAbandoned" width="85" name="inboundAbandoned"
    [summaryTemplate]="inboundAbandoned">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Llamadas<br> abandonadas
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #inboundAbandoned>
    <p class="right-black-bold">{{rows_total[0].inboundAbandoned}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundBeforeTime------------------------------------- -->
    <ngx-datatable-column prop="inboundBeforeTime" width="80" name="inboundBeforeTime"
    [summaryTemplate]="inboundBeforeTime">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Atendidas<br> antes de<br> 20 sg
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #inboundBeforeTime>
    <p class="right-black-bold">{{rows_total[0].inboundBeforeTime}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundBeforeMinute------------------------------------- -->
    <ngx-datatable-column prop="inboundBeforeMinute" width="80" name="inboundBeforeMinute"
    [summaryTemplate]="inboundBeforeMinute">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Atendidas<br> antes de<br> 60 sg
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #inboundBeforeMinute>
    <p class="right-black-bold">{{rows_total[0].inboundBeforeMinute}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundShort------------------------------------- -->
    <ngx-datatable-column prop="inboundShort" width="80" name="inboundShort"
    [summaryTemplate]="inboundShort">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Llamadas<br> cortas
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value }}</p>
    </div>
    </ng-template>

    <ng-template #inboundShort>
    <p class="right-black-bold">{{rows_total[0].inboundShort}}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundServiceLevel------------------------------------- -->
    <ngx-datatable-column prop="inboundServiceLevel" width="80" name="inboundServiceLevel"
    [summaryTemplate]="inboundServiceLevel">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Niv.<br> Serv.<br> 20sg
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value | percent: "1.2-2" }}</p>
    </div>
    </ng-template>

    <ng-template #inboundServiceLevel>
    <p class="right-black-bold">{{rows_total[0].inboundServiceLevel | percent: "1.2-2" }}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundServiceLevelLastHourBeforeTime------------------------------------- -->
    <ngx-datatable-column prop="inboundServiceLevelLastHourBeforeTime" width="80" name="inboundServiceLevelLastHourBeforeTime"
    [summaryTemplate]="inboundServiceLevelLastHourBeforeTime">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Niv.<br> Serv.<br> 20sg<br> Ult.<br> 60 Min.
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value | percent: "1.2-2" }}</p>
    </div>
    </ng-template>

    <ng-template #inboundServiceLevelLastHourBeforeTime>
    <p class="right-black-bold">{{rows_total[0].inboundServiceLevelLastHourBeforeTime | percent: "1.2-2" }}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundServiceLevelMinute------------------------------------- -->
    <ngx-datatable-column prop="inboundServiceLevelMinute" width="80" name="inboundServiceLevelMinute"
    [summaryTemplate]="inboundServiceLevelMinute">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Niv.<br> Serv.<br> 60sg
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value | percent: "1.2-2" }}</p>
    </div>
    </ng-template>

    <ng-template #inboundServiceLevelMinute>
    <p class="right-black-bold">{{rows_total[0].inboundServiceLevelMinute | percent: "1.2-2" }}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundServiceLevelLastHourBeforeMinute------------------------------------- -->
    <ngx-datatable-column prop="inboundServiceLevelLastHourBeforeMinute" width="80" name="inboundServiceLevelLastHourBeforeMinute"
    [summaryTemplate]="inboundServiceLevelLastHourBeforeMinute">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Niv.<br> Serv.<br> 60sg<br> Ult.<br> 60 Min.
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value | percent: "1.2-2" }}</p>
    </div>
    </ng-template>

    <ng-template #inboundServiceLevelLastHourBeforeMinute>
    <p class="right-black-bold">{{rows_total[0].inboundServiceLevelLastHourBeforeMinute | percent: "1.2-2" }}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundAttentionLevel------------------------------------- -->
    <ngx-datatable-column prop="inboundAttentionLevel" width="80" name="inboundAttentionLevel"
    [summaryTemplate]="inboundAttentionLevel">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Niv.<br> atención
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value | percent: "1.2-2" }}</p>
    </div>
    </ng-template>

    <ng-template #inboundAttentionLevel>
    <p class="right-black-bold">{{rows_total[0].inboundAttentionLevel | percent: "1.2-2" }}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->
    <!-- inboundAbandonLevel------------------------------------- -->
    <ngx-datatable-column prop="inboundAbandonLevel" width="80" name="inboundAbandonLevel"
    [summaryTemplate]="inboundAbandonLevel">

    <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir"
    ngx-datatable-header-template>
    <p class="right-black-bold" (click)="sort($event, sortDir, sortFn)">
            Niv.<br> abandono
    </p>
    </ng-template>

    <ng-template let-value="value" ngx-datatable-cell-template>
    <div class="table-column">
    <p class="right-black-normal">{{ value | percent: "1.2-2" }}</p>
    </div>
    </ng-template>

    <ng-template #inboundAbandonLevel>
    <p class="right-black-bold">{{rows_total[0].inboundAbandonLevel | percent: "1.2-2" }}</p>
    </ng-template>

    </ngx-datatable-column>

    <!------------------------------------------------- -->


        </ngx-datatable>
        </div>
        </section>